## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [18]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/user/Desktop/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bonfim,BR,3.0833,-59.9500,82.06,67,100,5.30,overcast clouds
1,1,Thompson,CA,55.7435,-97.8558,19.56,45,20,16.11,few clouds
2,2,Formiga,BR,-20.4644,-45.4264,65.17,77,48,5.32,scattered clouds
3,3,Ust-Tsilma,RU,65.4410,52.1498,31.10,89,100,4.29,overcast clouds
4,4,Longyearbyen,SJ,78.2186,15.6401,8.44,61,75,11.50,light snow

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 55
What is your desired maximum temperature for your trip? 95

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
ideal_city_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bonfim,BR,3.0833,-59.9500,82.06,67,100,5.30,overcast clouds
2,2,Formiga,BR,-20.4644,-45.4264,65.17,77,48,5.32,scattered clouds
6,6,Viedma,AR,-40.8135,-62.9967,67.93,45,95,24.49,overcast clouds
8,8,Antofagasta,CL,-23.6500,-70.4000,61.88,89,44,4.81,scattered clouds
10,10,Bambous Virieux,MU,-20.3428,57.7575,75.45,73,40,13.80,scattered clouds
12,12,Placido De Castro,BR,-10.3353,-67.1856,74.46,98,91,2.64,overcast clouds
13,13,Busselton,AU,-33.6500,115.3333,68.56,50,100,11.30,light rain
14,14,Carnarvon,AU,-24.8667,113.6333,68.07,94,40,5.75,scattered clouds
17,17,Puerto Ayora,EC,-0.7393,-90.3518,72.37,89,73,6.71,broken clouds
18,18,Charagua,BO,-19.8000,-63.2167,73.71,76,27,16.87,scattered clouds

In [22]:
# 4a. Determine if there are any empty rows.
ideal_city_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
drop_df = ideal_city_df.dropna()
drop_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bonfim,BR,3.0833,-59.9500,82.06,67,100,5.30,overcast clouds
2,2,Formiga,BR,-20.4644,-45.4264,65.17,77,48,5.32,scattered clouds
6,6,Viedma,AR,-40.8135,-62.9967,67.93,45,95,24.49,overcast clouds
8,8,Antofagasta,CL,-23.6500,-70.4000,61.88,89,44,4.81,scattered clouds
10,10,Bambous Virieux,MU,-20.3428,57.7575,75.45,73,40,13.80,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
666,666,Nageshwari,BD,25.9377,89.7148,77.40,80,3,11.16,clear sky
667,667,Inverell,AU,-29.7833,151.1167,71.67,49,80,8.01,broken clouds
668,668,Mulki,IN,13.1000,74.8000,81.68,89,75,0.00,broken clouds
669,669,Vung Tau,VN,10.3460,107.0843,83.62,77,69,12.24,broken clouds
670,670,Farafangana,MG,-22.8167,47.8333,72.54,89,100,6.17,light rain

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Formiga,BR,65.17,scattered clouds,-20.4644,-45.4264,
6,Viedma,AR,67.93,overcast clouds,-40.8135,-62.9967,
10,Bambous Virieux,MU,75.45,scattered clouds,-20.3428,57.7575,
12,Placido De Castro,BR,74.46,overcast clouds,-10.3353,-67.1856,
13,Busselton,AU,68.56,light rain,-33.6500,115.3333,
14,Carnarvon,AU,68.07,scattered clouds,-24.8667,113.6333,
17,Puerto Ayora,EC,72.37,broken clouds,-0.7393,-90.3518,
18,Charagua,BO,73.71,scattered clouds,-19.8000,-63.2167,
19,Atuona,PF,79.07,few clouds,-9.8000,-139.0333,
20,Buchanan,LR,75.72,overcast clouds,5.8808,-10.0467,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
 
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
drop_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
drop_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Formiga,BR,65.17,scattered clouds,-20.4644,-45.4264,Victor Plaza Hotel
6,Viedma,AR,67.93,overcast clouds,-40.8135,-62.9967,Hotel Cristal
10,Bambous Virieux,MU,75.45,scattered clouds,-20.3428,57.7575,Casa Tia Villa
12,Placido De Castro,BR,74.46,overcast clouds,-10.3353,-67.1856,Hotel Carioca
13,Busselton,AU,68.56,light rain,-33.6500,115.3333,Observatory Guest House

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/user/Desktop/Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
drop_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in drop_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = drop_hotel_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))